.jumbotron1 {
    margin: 0px;
    font-family: "Century Gothic";
    padding-left: 1%;
    padding-right: 1%;
}

.iTutor {
    text-align: center;
}

h3 {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}